@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu+Condensed&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s ease-in-out;
}

/* Custom Scrollbar Styles */

.scrollbar-custom::-webkit-scrollbar {
  width: 4px; /* Width for vertical scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: red; /* Track color */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: green; /* Scrollbar thumb color */
  border-radius: 2px; /* Round edges */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover color for thumb */
}


/* Tailwind classes (if you have a Tailwind config) */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.code-card {
  margin-bottom: 20px;
}

.code-ui {
  margin-top: 10px;
  padding: 20px;
  background-color: #f9fafb; /* Light background for code UI */
  border-radius: 8px;
  overflow: hidden;
}

.code-snippet {
  margin-top: 20px;
  background-color: #2d2d2d;
  padding: 10px;
  border-radius: 8px;
  color: white;
}

/* Dashboard Scrollbar */

.scrollbar-dashboard {
  --scrollbar-track: rgb(241, 240, 240);
  --scrollbar-thumb: rgb(203, 204, 204);
  --scrollbar-thumb-hover: #c6c6c6;
}

.scrollbar-dashboard::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

.scrollbar-dashboard::-webkit-scrollbar-track {
  background: var(--scrollbar-track); /* Use the variable */
}

.scrollbar-dashboard::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb); /* Use the variable */
  border-radius: 2px; /* Round edges */
}

.scrollbar-dashboard::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover); /* Hover color for thumb */
}

/* Dark mode */
.dark .scrollbar-dashboard {
  --scrollbar-track: rgb(0, 0, 0); /* Dark mode track color */
  --scrollbar-thumb: rgb(27, 26, 26); /* Dark mode thumb color */
  --scrollbar-thumb-hover: rgb(27, 26, 26); /* Dark mode thumb hover color */
}
